<%= form_tag(controller: :sessions, action: :create, method: :post) %>
  <p>
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email %>
  </p>
  <p>
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
  </p>
  <%= submit_tag "Login" %>
</form>

<a href="/auth/twitter" class="btn btn-primary btn-info">Sign in with Twitter</a>
<a href="/auth/facebook" class="btn btn-primary btn-info">Sign in with Facebook</a>
<a href="/auth/instagram" class="btn btn-primary btn-info">Sign in with Instagram</a>
