    <div class="dashboard container">
    	<div class="row firstpart">
			<div class="col-md-4" id="dashboard-accounts">
				<h2 class = "page-header" id="dashboard-acc-heading">Accounts</h2>
				<div class="dashboard-socialmedia">
					<h4 class="dashboard-text">Twitter</h4>
          <% if current_user.twitter_authentication? %>
            <a href="#" class="btn btn-primary btn-success dashboard-button"><span class="glyphicon glyphicon-ok"> </span> Connected to Twitter</a>
          <% else %>
            <a href="/auth/twitter" class="btn btn-primary btn-info dashboard-button"><span class="glyphicon glyphicon-remove"> </span> Not Connected to Twitter</a>
          <% end %>
				</div>
				<div class="dashboard-socialmedia">
					<h4 class="dashboard-text">Facebook</h4>
          <% if current_user.facebook_authentication? %>
            <a href="#" class="btn btn-primary btn-success dashboard-button"><span class="glyphicon glyphicon-ok"> </span> Connected to Facebook</a>
          <% else %>
            <a href="/auth/facebook" class="btn btn-primary btn-info dashboard-button"><span class="glyphicon glyphicon-remove"> </span> Not Connected to Facebook</a>
          <% end %>
				</div>
				<div class="dashboard-socialmedia">
					<h4 class="dashboard-text">Instagram</h4>
          <% if current_user.instagram_authentication? %>
            <a href="#" class="btn btn-primary btn-success dashboard-button"><span class="glyphicon glyphicon-ok"> </span> Connected to Instagram</a>
          <% else %>
            <a href="/auth/instagram" class="btn btn-primary btn-info dashboard-button"><span class="glyphicon glyphicon-remove"> </span> Not Connected to Instagram</a>
          <% end %>
				</div>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<h2 id="dashboard-recent" class = "page-header">Recent Donations</h2>
				<div class="donations">
          <% @donations.each do |donation| %>
            <div id="first">
              <%=image_tag "donation.png", class: "dashboard-donation-image"%>
              <p class="dashboard-donation-text">You donated <%= quid donation.amount %> to <%= link_to donation.campaign.title, campaign_path(donation.campaign) %> <%= distance_of_time_in_words Time.now, donation.time %> ago.</p>
            </div>
          <% end %>
				</div>
			</div>
		</div>
    <% if campaigner? %>
      <div class="row dashboard2">
        <h2 class = "page-header">My Campaigns</h2>
        <table class="table dashboard-campaigns">
          <thead>
            <tr>
              <th>Campaign Name</th>
              <th>Start time</th>
              <th>Finish time</th>
              <th>Charity sponsored</th>
              <th>Raised so far</th>
            </tr>
          </thead>
          <tbody>
            <% @campaigns.each do |campaign| %>
              <tr>
                <td><%= link_to campaign.title, campaign_path(campaign) %></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= quid campaign.total_raised %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
	</div>
