<div class="container new-campaign">
  <h1 class="page-header">Add a campaign</h1>
  <% if @campaign.errors.any? %>
  <ul>
    <% @campaign.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <%= form_for @campaign, url: {action: :create} do |f| %>
    <h4>
      <%= f.label :title, nil, class: "new-campaign-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </h4>
    <h4>
      <%= label_tag :Event, nil, class: "new-campaign-label" %>
      <%= text_field_tag :Event, nil, class: "form-control" %>
    </h4>
    <h4>
      <%= label_tag :date, nil, class: "new-campaign-label" %>
      <%= text_field_tag :date, nil, class: "form-control" %>
    </h4>
    <h4>
      <%= label_tag :distance, nil, class: "new-campaign-label" %>
      <%= text_field_tag :distance, nil, class: "form-control" %>
    </h4>
    <h4>
      <%= f.label :description, nil, class: "new-campaign-label" %>
      <%= f.text_area :description, class: "form-control new-campaign-text-area", rows: "3"%>
    </h4>
    <h4>
      <div class="numbered"><%= label_tag "Your target", nil, class: "new-campaign-label" %></div>
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <%= text_field_tag :target, nil, class: "form-control" %> 
        <span class="input-group-addon">.00</span>
      </div>
    </h4>
    <h4>
      <%= label_tag "Upload image", nil, class: "new-campaign-label" %>
      <input id="input-id" type="file" class="file" data-preview-file-type="text">
    </h4>
    <h4>
      <div class="numbered"><%= label_tag "Initial donation", nil, class: "new-campaign-label" %></div>
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <%= text_field_tag :initial, nil, class: "form-control" %>
        <span class="input-group-addon">.00</span>
      </div>
    </h4>
    <h4>
      <div class="numbered"><%= label_tag "Stretch goal ammount", nil, class: "new-campaign-label" %></div>
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <%= text_field_tag :strgoalamm, nil, class: "form-control" %>
        <span class="input-group-addon">.00</span>
      </div>
    </h4>
    <h4>
      <%= label_tag "Stretch goal description", nil, class: "new-campaign-label" %>
      <%= text_area_tag :strgoaldesc, nil, class: "form-control new-campaign-text-area", rows: "3" %>
    </h4>
    <h5 class="text-muted">
      Add more Stretch Goals <span class="glyphicon glyphicon-plus"></span>
    </h5>
    <%= f.submit "Create campaign", class: "btn btn-default Signup", style: "margin-bottom: 1em;" %>
  <% end %>
</div>
<script>
$(function() {
  $( "#input-id" ).fileinput();
});
</script>