<div class="container new-campaign">
  <h1 class="page-header">Add a campaign</h1>
  <% if @campaign.errors.any? %>
  <ul>
    <% @campaign.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
  <%= form_for @campaign, class: "form-horizontal", url: {action: :create} do |f| %>
    <h4>
      <%= f.label :event, class: "new-campaign-label" %>
      <%= f.text_field :event, class: "form-control" %>
    </h4>
    <h4>
      <%= f.label :event_url, class: "new-campaign-label" %>
      <%= f.text_field :event_url, class: "form-control", placeholder: '(optional)' %>
    </h4>
    <h4>
      <%= f.label :charity, class: "new-campaign-label" %>
      <%= f.text_field :charity, class: "form-control", value: @prefilled["charity"] %>
    </h4>
    <h4>
      <%= f.label :description, class: "new-campaign-label" %>
      <%= f.text_area :description, class: "form-control new-campaign-text-area", rows: "3", placeholder: 'Tell us why you are raising money for your chosen charity by the event that you will complete'%>
    </h4>
    <h4>
      <div class="numbered"><%= f.label "Your target", class: "new-campaign-label" %></div>
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <%= f.text_field :target, class: "form-control" %> 
        <span class="input-group-addon">.00</span>
      </div>
    </h4>
    <div id="file-input-group">
      <h4><%= f.label "Upload image", class: "new-campaign-label" %><h4>
      <input class="form-control" id="file-input" type="file"></input>
    </div> 

    <h4>
      <div class="numbered"><%= f.label "Stretch goal amount", class: "new-campaign-label" %></div>
      <div class="input-group">
        <span class="input-group-addon">£</span>
        <%= f.text_field :strgoalamm, class: "form-control", placeholder: "(optional)" %>
        <span class="input-group-addon">.00</span>
      </div>
    </h4>
    <h4>
      <%= f.label "Stretch goal description", class: "new-campaign-label" %>
      <%= f.text_area :strgoaldesc, class: "form-control new-campaign-text-area", rows: "2", placeholder: "Tell us what extra you'll do if you raise even more money than you hoped!"%>
    </h4>
    <h5 class="text-muted">
      <!-- Add more Stretch Goals <span class="glyphicon glyphicon-plus"></span> -->
    </h5>
    <%= f.submit "Create campaign", class: "btn btn-primary Signup", style: "margin-bottom: 1em;" %>
  <% end %>
</div>
<script>
//$(function() {
//  $( "#input-id" ).fileinput();
//});
</script>
