<div class="desktop">
	<div class="above-container row">

		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-container">
				<h2><%= @campaign.user.first_name %> <%= @campaign.user.last_name %></h2>
				<h3>is rasising money for <strong><a><%= @campaign.charity.title.titleize %></a></strong> by doing a <strong><a href="<%= @campaign.event_url or "#" %>"><%= @campaign.event %></a></strong></h3>
				<h3>Current total: <%= quid @campaign.total_raised %> of <%= quid @campaign.target %></h3>
				<h3>On stretch target (<%= quid @campaign.strgoalamm %>): <%= @strgoaldesc %></h3>
			</div>

			<div class="col-md-5 col-md-offset-1 timeline-container">
				<ul class="timeline">
					
				</ul>
			</div>	

		</div>		  	
		<%= image_tag("bg.jpg", class: "background-image") %>
	</div>

	<div class="row below-container">
		<div class="container">
			<h3>My Shares</h3>
			<div class="row">
				<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/hashtag/yrs2014?src=hash">#yrs2014</a> <a href="https://twitter.com/hashtag/yrsfoc?src=hash">#yrsfoc</a> kicked off in Kosovo this morning! We&#39;ll be seeing what they come up with in Plymouth! <a href="http://t.co/gTXY5lxGr8">pic.twitter.com/gTXY5lxGr8</a></p>&mdash; Young Rewired State (@youngrewired) <a href="https://twitter.com/youngrewired/statuses/494141709178376193">July 29, 2014</a></blockquote>
			</div>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>

	</div>
</div>
